.email-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.email-list-header {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 25px;
}

.mark-buttons-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 25px;
}

.mark-all-read-button {
  color: #fff;
  background-color: #0d5cb3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mark-all-read-button:hover {
  background-color: #0d5cb3;
  opacity: 0.8;
}

.mark-all-read-button:disabled {
  background-color: #0d5cb3;
  opacity: 0.5;
  cursor: not-allowed;
}

.mark-all-unread-button {
  color: #fff;
  background-color: #0d5cb3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.mark-all-unread-button:hover {
  background-color: #0d5cb3;
  opacity: 0.8;
}

.mark-all-unread-button:disabled {
  background-color: #0d5cb3;
  opacity: 0.5;
  cursor: not-allowed;
}

.email-list {
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 1px #e0e0e0;
  padding: 15px 25px;
}

.email-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px;
}

.email-list-item:hover {
  background-color: #f5f5f5;
}

.email-list-item:last-child {
  border-bottom: none;
}

.email-list-item-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.email-list-item-mark-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.email-list-item-mark-read-button {
  color: #fff;
  background-color: #0d5cb3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.email-list-item-mark-read-button:hover {
  background-color: #0d5cb3;
  opacity: 0.8;
}

.email-list-item-mark-read-button:disabled {
  background-color: #0d5cb3;
  opacity: 0.5;
  cursor: not-allowed;
}

.email-list-item-mark-unread-button {
  color: #fff;
  background-color: #0d5cb3;
  border-radius: 5px;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.email-list-item-mark-unread-button:hover {
  background-color: #0d5cb3;
  opacity: 0.8;
}

.email-list-item-mark-unread-button:disabled {
  background-color: #0d5cb3;
  opacity: 0.5;
  cursor: not-allowed;
}
