.button {
  background-color: #4caf50;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.all-pokemons-btn {
  background-color: #3e40c5;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.next-button {
  background-color: fuchsia;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}

.next-button:disabled {
  background-color: rgb(99, 0, 99);
  border: none;
  color: white;
  cursor: not-allowed;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s;
}
