body {
  background-color: #f1f1f1;
}

.ball {
  border-radius: 100%;
  display: inline-block;
  margin: 10px;
}

.align {
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

h1 {
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 40px;
}

p {
  margin: 0;
}

#reset-game {
  background-color: gray;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

#reset-game:hover {
  background-color: #f1f1f1;
}
